SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# Use http://localhost:<port>/spotify-callback
# Make sure you add the redirect URI to the redirect urls
# inside your Spotify Client API Dashboard for this project.
SPOTIFY_REDIRECT_URI=http://localhost:8080/spotify-callback
# Default values. Feel free to change.
JWT_SECRET_KEY=test
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
LOCAL_IP_ADDRESS=
